@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;

.city-forecast {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.city-forecast-list {
  max-width: 100vw;
  display: inline-flex;
  gap: 24px;
  margin: 0 auto;
  padding: 16px;
  background-color: $secondary-background;
  border-radius: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  mask-image: linear-gradient(
    to right,
    transparent,
    black 2%,
    black 98%,
    transparent
  );

  @include on-tablet {
    padding: 24px;
  }

  @include on-desktop {
    padding: 32px;
  }
}

.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 20px;

  &__hour {
    margin: 0;
    font-weight: 700;
    color: $white;
  }

  &__temperature {
    color: $white;
    margin: 0;
  }

  &__conditions {
    color: $gray;
    font-size: 14px;
    margin: 0;
  }
}
