@use "@/styles/colors.scss" as *;
@use "@/styles/mixins.scss" as *;
@use "@/styles/variables.scss" as *;

.city-weather-page {
  padding-inline: $padding-mobile;

  @include on-tablet {
    padding-inline: $padding-tablet;
  }

  @include on-desktop {
    padding-inline: $padding-desktop;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;

    @include on-tablet {
      padding: 24px;
    }

    @include on-desktop {
      padding: 32px;
    }
  }

  &__back-button {
    width: 28px;
    height: 28px;
    position: relative;
    left: 16px;
    top: 16px;
    background-color: $secondary-background;
    color: $white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;

    background-image: url('/icons/back.svg');
    background-repeat: no-repeat;
    background-position: center;

    @include on-desktop {
      width: 40px;
      height: 40px;
    }

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }

  &__city {
    color: $white;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

  &__conditions {
    color: $white;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
  }

  &__min-max {
    margin-top: 8px;
    display: flex;
    gap: 8px;
  }

  &__temp {
    color: $white;
    font-size: 48px;
    font-weight: 700;
    margin: 8px 0;
  }

  &__feels-like {
    color: $gray;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  &__min-temp {
    color: $white;
    margin: 0;
  }

  &__max-temp {
    color: $white;
    margin: 0;
  }
}

.statistics {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 32px;
  padding-inline: 20px;

  box-sizing: border-box;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  &__title {
    color: $white;
  }

  &__value {
    color: $white;
  }
}
